<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <link rel="shortcut icon" href="static/logo.svg">
        <title>Glassball Feed Reader</title>
        <meta charset="utf-8">
        <script>
            databaseId = '{{ database_id }}';
        </script>
        <script src="static/script.js"></script>
    </head>
    <body>
        <header>
            <h1>Glassball</h1>
        </header>
        <main class="panes">
            <div class="pane pane--list pane--filters">
                <a class="selector filter selector--selected" data-filter-type="all">
                    (all feeds)
                </a>
                {% for feed in feeds %}
                    <a class="selector filter" data-filter-type="feed" data-feed="{{ feed.key }}" {% if last_update[feed] %}title="Last update {{ last_update[feed].updated|datetime }}"{% endif %}>
                        {{ feed.title }}
                    </a>
                {% endfor %}
                <a class="selector filter" data-filter-type="unread">
                    (unread items)
                </a>
            </div>
            <div class="pane pane--list pane--items">
                {% for item in items %}
                    <a class="selector item" data-item="{{ item.id }}" data-feed="{{ item.feed }}">
                        <div class="header">
                            <span class="title">{{ item.title }}</span>
                            <time class="published" datetime="{{ item.published|datetime('%Y-%m-%dT%H:%M:%SZ') }}">
                                {{ item.published|datetime('%H:%M') }}
                            </time>
                        </div>
                        <div class="footer">
                            <span class="author">{{ item.author }}</span>
                            <button>unread</button>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="pane">
                <iframe id="item-view" sandbox="allow-popups allow-popups-to-escape-sandbox"></iframe>
            </div>
        </main>
    </body>
</html>
