<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header>
            <h1>Glassball</h1>
        </header>
        <main>
            <div class="">
                {% for feed in feeds %}
                    <button data-feed="{{ feed.key }}">
                        {{ feed.title }}
                    </button>
                {% endfor %}
            </div>
            <div class="">
                {% for item in items %}
                    <button data-item="{{ item.id }}" data-feed="{{ feed }}">
                        {{ item.title }}
                        {{ item.author }}
                        {{ item.published }}
                    </button>
                {% endfor %}
            </div>
            <div class="">
            </div>
        </main>
    </body>
</html>
