<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../glassball/static/item.css">
        <meta charset="utf-8">
        <base target="_blank">
    </head>
    <body>
        <header class="glassball-header">
            <h1><a href="{{ item.link }}">{{ item.title }}</a></h1>
            <span class="byline">
                by <span class="author">{{ item.author }}</span>
                at <time class="published" datetime="{{ item.published|datetime('%Y-%m-%dT%H:%M:%SZ') }}">{{ item.published|datetime }}</time>
            </span>
        </header>
        <article>
            {{ item.content|safe }}
        </article>
    </body>
</html>
