<!DOCTYPE html>
<html>
    <head>
        <style>
            {% include 'item.css' %}
        </style>
        {% if injected_styling %}
        <style>
            {{ injected_styling }}
        </style>
        {% endif %}
        <meta charset="utf-8">
        <base target="_blank" href="{{ feed.url }}">
    </head>
    <body>
        <header class="glassball-header">
            <h1><a href="{{ item.link }}">{{ item.title or item.guid }}</a></h1>
            <span class="byline">
                {% if item.author %}by <span class="author">{{ item.author }}</span>{% endif %}
                at <time class="published" datetime="{{ item.published|datetime('%Y-%m-%dT%H:%M:%SZ') }}">{{ item.published|datetime }}</time>
                in <span class="feed">{{ item.feed.title }}</span>
            </span>
        </header>
        <article>
            {{ item.content|safe }}
        </article>
    </body>
</html>
