/* Basic overrides */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}


header {
    color: white;
    background: linear-gradient(#333, #000);
    padding: 0.5rem;
    height: 3.5rem;
}

.hidden {
    display: none !important;
}


/* Notification box */

.notification {
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    color: #666;
    background-color: #eee;
}


/* Selector elements */

a.selector,
a.selector:visited {
    padding: 0.5rem;
    cursor: pointer;
    background-color: transparent;
}

a.selector:hover {
    background-color: #eee;
}

a.selector:active {
    background-color: #ddd;
}

a.selector.selector--selected {
    background-color: #416cff;
    color: white;
}


/* Panes */

.panes {
    display: flex;
    height: calc(100vh - 3.5rem);
}

.pane {
    flex-grow: 1;
}


.pane-header {
    background: #eee;
    padding: 0.5rem;
}

.pane-header button {
    cursor: pointer;
    border-radius: 2rem;
    border: 0;
    padding: 0 0.25rem;
    background-color: #ddd;
}

.pane-header button:hover {
    background-color: #ccc;
}

.pane-header button:active {
    color: white;
    background-color: #416cff;
}


.pane.pane--list {
    display: flex;
    flex-direction: column;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20rem;

    overflow: scroll;
    overflow-x: hidden;
}

.pane.pane--filters {
    flex-basis: 15rem;
}

.pane.pane--items {
    flex-basis: 25rem;
}

.pane iframe {
    display: block;
    border: 0;
    height: 100%;
    width: 100%;
}


/* List items */

.item {
    display: flex;
}

.item .read-status {
    margin-right: 0.5rem;
    width: 0.75rem;
}

.item .read-status button {
    display: inline-block;
    vertical-align: middle;

    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.75rem;

    border: 1.5px solid #ccc;
    background-color: transparent;

    cursor: pointer;
}

.item.item--unread .read-status button {
    background-color: #ccc;
}

.item .description {
    flex-grow: 1;
}

.item .header {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin-bottom: 0.25rem;
}

.item .header .title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.item.item--unread .title {
    font-weight: bold;
}

.item .header .published {
    margin-left: 0.25rem;
}

.item .footer {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 90%;
}

.item .footer .author {
    overflow: hidden;
    text-overflow: ellipsis;
}

.item .footer .author.author--empty {
    color: #ccc;
    font-style: italic;
}
